@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    letter-spacing: 1px;
}


#image-container {
    position: absolute;
    z-index: -999;
}

#image-container img {
    height: 100vh;
    width: 100vw;
}

#image-container::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.logo {
    fill: rgb(229, 9, 20);
    height: 35px;
}

nav #language {
    padding: 8px 25px;
    background: transparent;
    color: #fff;
    margin-right: 5px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 15px;
    border: 0.1px solid #938888;
}

nav>#language>option {
    background: transparent;
}

nav button {
    padding: 8px 25px;
    background: rgb(229, 9, 20);
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 15px;
}

section {
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

section h1 {
    font-size: 60px;
    font-weight: 900;
    padding: 0 400px;
    margin: 200px 0 30px 0;
}

section h4 {
    padding: 0 100px;
    margin-bottom: 40px;
}

section p {
    font-size: 15px;
    padding: 0 100px;
    margin-bottom: 10px;
}

#email {
    padding: 20px 150px 20px 15px;
    background: transparent;
    color: #fff;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 15px;
    border: 0.1px solid #938888;
}

form button {
    padding: 13px 50px 18px 50px;
    background: rgb(229, 9, 20);
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 25px;
}